@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.category-item {
    height: 100px;
    width: 100px;
    border:2px solid rgb(199, 194, 194);
}
.category-item img {
    height: 65px !important;
    width: 65px !important;
}
.owl-item:nth-child(1) .category-item-main .category-item{
    background-color: #FBB6B6;
}
.owl-item:nth-child(2) .category-item-main .category-item{
    background-color: #B6FBB6;
}
.owl-item:nth-child(3) .category-item-main .category-item{
    background-color: #B6B6FB;
}
.owl-item:nth-child(4) .category-item-main .category-item{
    background-color: #FBFBB6;
}
.owl-nav button{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.owl-nav .owl-prev{
    font-size: 36px !important;
    position: absolute;
    top: 21%;
    left: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    border: 2px solid whitesmoke !important;
}
.owl-nav .owl-next{
    font-size: 36px !important;
    position: absolute;
    top: 21%;
    right: 1%;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    border: 2px solid whitesmoke !important;
}
.bottom-nav li{
    list-style-type: none;
    font-size: 14px !important;
    padding: 5px 0 !important;
}
.bottom-nav{
    padding: 0 !important;
}
.font-weight-bolder{
    font-weight:900 !important;
}

.social-icons{
    height: 34px;
    margin:0 5px;
}
.navbar-top{
    background-color: #eaeeef;}
.footer-main{
    background-color: #e9eeef;
    width: 100%;
    padding: 55px 20px;
}

.nav-icons img{
    width:25px !important;
}
.search-main {
    border:1px solid grey !important;
}
.search-main input[type="search"]{
outline-style: none;
border-top:none !important;
border-bottom:none !important;
border-left:none !important;
border-right:1px solid !important;

padding:3px 5px;
}
